body{
    margin: 0 0;
}

p{
    font-family: Roboto Flex;
}

.menu {
        width: 100%;
}

b a{
    color: #A17652;
}

footer{
    color: #283345;
    position:fixed;
    bottom: 0;
    display: flex; /*flex*/
    background-color: #8F8FA1;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

footer p{
    text-align: center;
}

.topBar {
    background-color: #283345;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
    
.titleFont {
    color: #FFC13B;
    text-align: right;
    font-family: Roboto;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: auto;
}

.subtitleFont {
    color: #FFC13B;
    text-align: right;
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: auto;
}

.menu-button {
    display: none;
}

.main-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
}

.presentation{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.presentation p{
    text-align: center;
    font-size: 2rem;
    width: 50%;
}

.positions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    font-family: Roboto Flex;
}

.position{
    border-radius: 1rem;
    width: 40%;
    background-color: #424A4B;
    color: #FFC13B;
    font-family: Roboto;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: justify;
}

.position ul li{
    font-family: Roboto Flex;
}

.tech{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 5rem;
    background-color: #424A4B;
    border-radius: 1rem;
}

.tech img{
    height: 5rem;
    width: 5rem;
    margin: 2rem;
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 2rem;
    box-shadow: 1rem 1rem #283345;
}

#gabriel{
    border-radius: 50%;
    border: 0.5rem solid #A17652;
    margin: 5%;
    width: 15rem;
}

#intro{
    font-size: 1rem;
    margin-top: 5%;
    width: 50%;
    padding-bottom:10% ;
    text-align: center;
}

#openpass-logo{
    width: 35rem;
}

#accenture-logo{
    width: 20rem;
    margin: 0 5rem 5rem 5rem;
}


@media (max-width:768px){
    .menu {
        display: none;
    }
    .menu-button {
        display:block;
        width:8rem;
    }
}

@media (max-width: 480px) {
    .subtitleFont {
        font-size: 1rem;
    }

    .titleFont {
        font-size: 2rem;
    }

    .menu-button {
        width: 4rem;
    }   

    #intro{
        width: 70%;
    }

    #gabriel{
        margin-top: 1rem;
    }
}

@media (max-width: 320px) {
    .subtitleFont {
        font-size: 2rem;
    }

    .titleFont {
        font-size: 3rem;
    }

    #intro{
        text-align: justify;
        font-size: 1rem;
    }

    #gabriel{
        width: 10rem;
        height: 10rem;
    }
}

.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.menu ul li{
    display: flex;
    flex: 1;
    margin: 1rem;
    padding: 0.3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--Contraste, #FFC13B);
    font-family: Roboto Flex;
    font-style: none;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.titleLabel{
    flex: content;
    justify-content: space-around;
    display: flexbox;
    flex-direction: column;
    margin: 1rem;
}

.actual-page{
    color: #283345;
    background-color: #FFC13B;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem #A17652;
}

.actual-page a{
    color:#283345;
}