body{
    margin: 0 0 10% 0;
    transition: background-color 0.5s;
}

nav{
    background-color: #283345;
    color:#FFC13B
}

.dark-mode-body{
    margin: 0 0 10% 0;
    transition: background-color 0.5s;
    background-color: #3a3a3a;
    color: white;
}
.switch{
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    cursor: pointer;
    top: 40%;
    left: 50%;
    border-radius: 34px;
    transition: 1s;
    width: 4rem;
    height: 2rem;
    background-color: rgb(98, 173, 202);
    margin-bottom: 2rem;
    justify-content: flex-start;
    align-items: center;
  }

  #toggleDarkMode{
    display: none;
  }

  .slider:before {
    position: relative;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    background-color: #FFC13B;
    border-radius: 50%;
    transition: .5s;
    margin-left: 0.4rem;
  }

    input:checked + .slider {
      background-color: #2195f362;
    }

    input:checked + .slider:before {
      transform: translateX(26px);
      background-color: whitesmoke;
    }
p{
    font-family: Roboto Flex;
}

#menu {
    width: 100%;
}

.dark-mode-nav {
    width: 100%;
    background-color: #1c232e;
    color:#cca966
}

footer{
    position:fixed;
    display: flex;
    color: #FFC13B;
    height: 10%;
    justify-content: center;
    align-items: center;
    bottom:0;
    background-color: #283345;
    width: 100%;
}

.dark-mode-footer{
    color: #cca966;
    background-color: #1c232e;
}

.dark-mode-mobile-footer{
    color: #cca966;
    background-color: #1c232e;
}

footer p{
    text-align: center;
    bottom: 0;
}

.topBar {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.titleFont {
    text-align: center;
    font-family: Roboto;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: auto;
}

.subtitleFont {
    text-align: center;
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.menu-button {
    display: none;
}

.main-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
}

.presentation{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.presentation p{
    text-align: center;
    font-size: 2rem;
    width: 50%;
}

.positions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    font-family: Roboto Flex;
}

.position{
    border-radius: 1rem;
    width: 40%;
    background-color: #424A4B;
    color: #FFC13B;
    font-family: Roboto;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: justify;
}

.position ul li{
    font-family: Roboto Flex;
}

.tech{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 5rem;
    background-color: #424A4B;
    border-radius: 1rem;
}

.tech img{
    height: 5rem;
    width: 5rem;
    margin: 2rem;
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 2rem;
    box-shadow: 1rem 1rem #283345;
}

.itba-about{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.uade-about{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.coder-about{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    width:100%;
    align-items: center;
}

.about-item{
    width: 50%;
    text-align: left;
    font-family: Roboto Flex;
    background-color: #424A4B;
    color: #FFC13B;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem #283345;
}

.about-info{
    text-align: justify;
    width: 23rem;
    font-family: Roboto Flex;
    font-size: 1.2rem;
    background-color: #424A4B;
    padding: 2rem;
    border-radius: 10%;
    color: #FFC13B;
    align-items: center;
}

.referencia{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    font-family: Roboto;
    margin: 4rem 0;
    color: #283345;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.my-contact-icons{
    width: 6rem;
    height: 6rem;
    padding: 1rem;
}

.contact-links{
    display: flex;
    flex-direction: column;

}

.referencia-img{
    width: 20rem;
    border-radius: 30rem;   
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.menu ul li {
    display: flex;
    flex: 1;
    margin: 1rem;
    padding: 0.3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--Contraste, #FFC13B);
    font-family: Roboto Flex;
    font-style: none;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.titleLabel {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}

.actual-page {
    color: #283345;
    background-color: #FFC13B;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem #A17652;
}

.dark-mode-actual-page{
    color: #283345;
    background-color: #cca966;
}

.dark-mode-menu-item-home, .dark-mode-menu-item-experiencia, .dark-mode-menu-item-educacion, .dark-mode-menu-item-referencia, .dark-mode-referencia-santi, .dark-mode-referencia-mario, .dark-mode-mis-contactos{
    color: #cca966 !important;
}

.actual-page a {
    color: #283345;
}

#mis-contactos{
    display: flex;
    font-family: Roboto;
    font-size: 3rem;
    color: #283345;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header{
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

#linkedin{
    width: 3rem;
    height: 3rem;
}

#itba{
    width: 20rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

#coderhouse{
    width: 20rem;
    margin-left: 10%;
}

#uade{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0 ;
    height:30%
}

.dark-mode-logo-uade{
    background-color: whitesmoke;
}

#gabriel{
    border-radius: 50%;
    border: 0.5rem solid #A17652;
    margin: 5%;
    width: 20rem;
}

#intro{
    font-size: 1rem;
    margin-top: 5%;
    width: 50%;
    padding-bottom:10% ;
    text-align: center;
}

#openpass-logo{
    width: 35rem;
}

#accenture-logo{
    width: 20rem;
    margin: 0 5rem 5rem 5rem;
}

#logo-uade{
    width: 30%;
}

.mobile{
    display:none;
}

@media (max-width:768px){  


    body{
        margin-bottom: 5%;
    }

    .menu {
        display: none;
    }

    .positions{
        flex-wrap: wrap;
    }

    .position{
        width: 80%;
        margin: 2rem
    }

    .tech{
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    .presentation .accenture-presentation{
        flex-direction: row-reverse;
    }

    footer .desktop{
        visibility:hidden;
    }

    .desktop{
        display: none;
    }

    footer p{
        display: none;
    }

    .mobile{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        bottom: 0;
    }

    .dark-mode-menu-item-home-mobile{
        background-color: #1c232e;
        color: #cca966;
    }

    .mobile a{
        width: 20%;
        font-family: Roboto;
        text-align: center;
    }

    .uade-about {
        flex-wrap: wrap;
    }

    .about-info{
        margin: 1rem;
        width: 80%;
        border-radius: 1rem;
    }

    .coder-about{
        justify-content: center;
    }

    .about-item{
        margin-right:2rem;
    }

    .referencia-img {
        margin: 1rem;
    }

    .referencia{
        flex-wrap: wrap;
    }

    .contact-icons{
        margin-bottom: 5rem;
    }

    #itba{
        margin-left:1rem;
        width:15rem;
    }

    #coderhouse{
        width: 15rem;
        margin: 1rem;
    }

    #openpass-logo {
        margin-top: 0;
        margin-bottom: -5rem;
    }

    #gabriel{
        margin: 1rem 1rem;
    }
}

@media (max-width: 480px) {
    .subtitleFont {
        font-size: 1rem;
    }

    .titleFont {
        font-size: 2rem;
    }

    .menu-button {
        width: 4rem;
    }   

    footer a{
        font-size: 0.8rem;
    }

    .presentation p{
        font-size: 2rem;
        width: 90%;
    }

    .accenture-presentation{
        flex-direction: column-reverse;
    }

    .coder-about{
        flex-flow: column;
        margin-left: 1rem;
    }

    .uade-about{
        margin-bottom: 0;
    }

    .itba-about{
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-bottom:5rem;
    }

    .referencia-img{
        width: 80%;
    }

    .referencia div{
        text-align: center;
    }

    .contact-icons{
        flex-wrap: wrap;
    }

    #openpass-logo{
        width: 15rem;

    }

    #accenture-logo{
        width: 15rem;
    }

    #itba{
        margin: 3rem;
    }

    #coderhouse{
        margin:3rem
    }

    #intro{
        width: 70%;
    }

    #gabriel{
        margin-top: 1rem;
    }
}

@media (max-width: 320px) {

    .subtitleFont {
        font-size: 2rem;
    }

    .titleFont {
        font-size: 3rem;
    }

    footer a{
        font-size: 0.7rem;
    }
    
    .presentation p{
        font-size: 1rem;
    }

    .position{
        font-size: 1rem;
    }

    .tech{
        width: 80%;
        height: auto;
        flex-direction: column;
        margin: 2rem;
        align-items: center;
    }

    #openpass-logo{
        width: 100%
    }

    #accenture-logo{
        width:90%;
        margin: 1rem 1rem
    }

    #intro{
        text-align: justify;
        font-size: 1rem;
    }

    #gabriel{
        width: 10rem;
        height: 10rem;
    }
}