body{
    margin: 0 0;
}

p{
    font-family: Roboto Flex;
}

.menu {
        width: 100%;
}

@media (max-width: 2000px) {
    b a{
        color: #A17652;
    }

    footer{
        position:fixed;
        bottom: 0;
        display: flex;
        background-color: #8F8FA1;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
    }

    footer p{
        text-align: center;
    }

    .topBar {
        background-color: #283345;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    .titleFont {
        color: #FFC13B;
        text-align: right;
        font-family: Roboto;
        font-size: 4rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: auto;
    }

    .subtitleFont {
        color: #FFC13B;
        text-align: right;
        font-family: Roboto;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: auto;
    }

    .menu-button {
        display: none;
    }

    .main-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    #gabriel{
        border-radius: 50%;
        border: 0.2rem solid #A17652;
        align-items:start;
        margin: 0.5rem 4rem;
        width: 20rem;
        height: 20rem;
    }

    #intro{
        font-size: 2rem;
        width: 50%;
        padding-bottom:10% ;
    }
}

@media (max-width:768px){
    .menu {
        display: none;
    }
    .menu-button {
        display:block;
        width:8rem;
    }
}

@media (max-width: 480px) {
    .subtitleFont {
        font-size: 1rem;
    }

    .titleFont {
        font-size: 2rem;
    }

    .menu-button {
        width: 4rem;
    }   

    #intro{
        width: 70%;
    }

    #gabriel{
        margin-top: 1rem;
    }
}

@media (max-width: 320px) {
    .subtitleFont {
        font-size: 2rem;
    }

    .titleFont {
        font-size: 3rem;
    }

    #intro{
        text-align: justify;
        font-size: 1rem;
    }

    #gabriel{
        width: 10rem;
        height: 10rem;
    }
}

.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.menu ul li{
    display: flex;
    flex: 1;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--Contraste, #FFC13B);
    font-family: Roboto Flex;
    font-style: none;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.titleLabel{
    flex: content;
    justify-content: space-around;
    display: flexbox;
    flex-direction: column;
    margin: 1rem;
}

.actual-page{
    color: #283345;
    background-color: #FFC13B;
}

.actual-page a{
    color:#283345;
}