body{
    margin: 0 0;
}

p{
    font-family: Roboto Flex;
    font-weight: light;
}

.topBar{
    background-color: #283345;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.menu{
    width: 100%;
}

.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.menu ul li{
    flex: 1;
    margin: auto 1rem;
    padding: 1rem;
    text-align: center;
    color: var(--Contraste, #FFC13B);
    font-family: Roboto Flex;
    font-style: none;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.titleLabel{
    flex: content;
    justify-content: space-around;
    display: flexbox;
    flex-direction: column;
    margin: 1rem;
}

.titleFont{
    color: #FFC13B;
    text-align: right;
    font-family: Roboto;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: auto;
}

.subtitleFont{
    color:#FFC13B;
        text-align: right;
        font-family: Roboto;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: auto;
}

.actual-page{
    color: #283345;
    background-color: #FFC13B;
}

.actual-page a{
    color:#283345;
}

.main-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
}

#gabriel{
    border-radius: 50%;
    border: 0.2rem solid #A17652;
    align-items:start;
    margin: 0.5rem 4rem;
    width: 20rem;
    height: 20rem;
}

#intro{
    font-size: 2rem;
    width: 50%;
}